<h1>Producto Creado</h1>
<p>Se ha creado exitosamente el producto.</p>
<p>Nombre: {{title}}</p>
<p>Descripción: {{description}}</p>
<p>Precio: {{price}}</p>
<p>Stock: {{stock}}</p>
<p>Imagen: {{image}}</p>

<link rel="stylesheet" type="text/css" href="/css/style.css" />