<div class="divproducto">
  <p>Nombre: {{user.name}}</p>
  <p>Apellido: {{user.surname}}</p>
  <p>Role: {{user.role}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Email: {{user.email}}</p>
  <p>Password: {{user.password}}</p>
  <p>Carrito: {{user.cart}}</p>

</div>

<a href="/inicio"><h2>Volver al inicio</h2></a>
<a href="/api/products"><h2>Ir a todos los productos</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css" />