{{#each products}}
  <div class="divProducto">
    <h2>{{this.name}}</h2>
    <p>{{this._id}}</p>
    <p>Autor: {{this.description}} </p>
    <p>Precio: ${{this.price}} </p>
    <p>Categoria: {{this.category}} </p>
    <p>Stock: {{this.stock}} </p>
    <img src={{this.thumbnail}} alt="" />
    <a href="/api/products/{{this._id}}" class="boton"><h3>Ver producto</h3></a>
  </div>
{{/each}}

<link rel="stylesheet" type="text/css" href="/css/style.css" />