<nav>
  <div class="logo"></div>
  <p>Universo de Páginas</p>
  <ul>
    <li>
      <a href="/inicio">Inicio</a>
    </li>
    <li>
      <a href="/api/products">Productos</a>
    </li>
    <li>
      <a href="/api/users/profile">Usuario</a>
    </li>
    <li>
      <a href="/api/users/logout">Cerrar sesión</a>
    </li>
  </ul>
</nav>
<main>
  <h1>{{product.name}}</h1>

  <div class="productDetail">
    <img src={{product.thumbnail}} alt="" />
    <div>
      <p>Descripcion: {{product.description}} </p>
      <p>Producto ID: {{product._id}}</p>
      <p>Precio: {{product.price}} </p>
      <p>Categoria: {{product.category}} </p>
      <p>Stock: {{product.stock}} </p>

      {{#if user}}

        <div class="botonesCantidad">
          <button id="disminuyeCantidad" class="boton">-</button>
          <p id="cantidad">0</p>
          <button id="incrementoCantidad" class="boton">+</button>
        </div>
        <button id="addToCart" class="boton">Añadir a Carrito</button>

      {{/if}}
    </div>
  </div>
</main>

<footer>
  <p>Lissett Leal 2024</p>
  <div class="contactos">
    <a href="https://github.com/lissleal">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="">
      <i class="fa-solid fa-briefcase"></i>
    </a>
    <a href="https://www.linkedin.com/in/lissett-leal/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p>Realizado con fines educativos</p>
</footer>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script>
  let incrementoCantidad = document.getElementById("incrementoCantidad"); let
  disminuyeCantidad = document.getElementById("disminuyeCantidad"); let cantidad
  = document.getElementById("cantidad"); let addToCart =
  document.getElementById("addToCart"); let cantidadProducto = 0;
  incrementoCantidad.addEventListener("click", () => { if (cantidadProducto <
  {{product.stock}}){ cantidadProducto++; cantidad.textContent =
  cantidadProducto; } }); disminuyeCantidad.addEventListener("click", () => { if
  (cantidadProducto > 0) { cantidadProducto--; cantidad.textContent =
  cantidadProducto; } }); addToCart.addEventListener("click", () => { const
  productId = "{{product._id}}"; const quantity = cantidadProducto; const cart =
  "{{user.cart}}"; console.log(productId, quantity, cart); });

</script>