<div class="divProducto">
  <h1>Producto ID: {{product._id}}</h1>
  <h2>Nombre: {{product.name}}</h2>
  <p>Descripcion: {{product.description}} </p>
  <p>Precio: {{product.price}} </p>
  <p>Categoria: {{product.category}} </p>
  <p>Stock: {{product.stock}} </p>
  <img src={{product.thumbnail}} alt="" />
  {{#if user}}
    <button data-product-id="{{this._id}}">Añadir a Carrito</button>
  {{/if}}
</div>

<link rel="stylesheet" type="text/css" href="/css/style.css" />